.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-shape-1 {
  width: 292px;
  height: 575px;
  background-image: none;
  margin: 60px auto 0 272px;
}

.u-section-1 .u-image-1 {
  width: 582px;
  height: 381px;
  margin: -351px 50px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 662px;
  height: 499px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  margin: -567px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 630px;
  min-height: 632px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -424px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 80px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0 20px;
}

.u-section-1 .u-form-1 {
  width: 486px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-list-1 {
  width: 961px;
  grid-auto-rows: 100%;
  margin: -38px auto 0 179px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 176px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 45px 30px 23px;
}

.u-section-1 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -22px 0 0 40px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 45px 30px 23px;
}

.u-section-1 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -22px 0 0 40px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 45px 30px 23px;
}

.u-section-1 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -22px 0 0 40px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 25px 411px 60px 179px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-shape-1 {
    width: 247px;
    height: 653px;
    margin-left: 254px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    margin-top: -394px;
  }

  .u-section-1 .u-image-2 {
    width: 581px;
    height: 488px;
    margin-top: -553px;
  }

  .u-section-1 .u-group-1 {
    width: 501px;
    min-height: 609px;
    margin-top: -413px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 863px;
    margin-top: -81px;
    margin-left: 77px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 232px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin: 33px 313px 36px 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-shape-1 {
    height: 629px;
    margin-top: 55px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-1 {
    width: 592px;
    height: 319px;
    margin-top: -385px;
    margin-right: 40px;
  }

  .u-section-1 .u-image-2 {
    width: 519px;
    height: 433px;
    margin-top: -505px;
  }

  .u-section-1 .u-group-1 {
    width: 424px;
    min-height: 574px;
    margin-top: -358px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-list-1 {
    width: 672px;
    margin-top: -46px;
    margin-left: 48px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin: 32px 122px -250px 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-1 .u-shape-1 {
    height: 896px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 190px;
    margin-top: -543px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 468px;
    height: 400px;
    margin-top: -465px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -116px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 30px;
  }

  .u-section-1 .u-form-1 {
    height: 371px;
    width: 364px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 500px;
    margin-left: 40px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 487px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin: 30px 143px 55px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1737px;
  }

  .u-section-1 .u-shape-1 {
    width: 170px;
    height: 545px;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 150px;
    width: 260px;
    margin-top: -337px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 275px;
    margin-top: -309px;
  }

  .u-section-1 .u-group-1 {
    width: 314px;
    margin-top: 64px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 287px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 675px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 27px;
    margin-right: 27px;
  }
}